@font-face {
  src: url("/fonts/Gilroy-Regular.woff");
  font-family: "Gilroy";
  font-weight: normal;
}

@font-face {
  src: url("/fonts/Gilroyextrabold.woff2");
  font-family: "Gilroy";
  font-weight: bold;
}

@font-face {
  src: url("/fonts/HomemadeApple.ttf") format("truetype");
  font-family: "HomemadeApple";
  font-weight: normal;
}

@font-face {
  src: url("/fonts/Roboto.woff2");
  font-family: "Roboto";
  font-weight: normal;
}
