.root {
  background: #fafafa;
}

.page {
  width: 1440px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  padding: 0;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Gilroy", "HomemadeApple", "Roboto", "Helvetica Neue", "Arial",
    sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
  height: 116px;
  position: relative;
  background: #fafafa;
}

.logo {
  font-family: "HomemadeApple";
  font-weight: normal;
  font-size: 18px;
  line-height: 39px;
}

.logo_place_header {
  color: #231f20;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100px;
}

.menu {
  font-size: 18px;
  line-height: 22px;
}

.menu__link {
}

.menu__link_place_header {
  margin-right: 31px;
  color: #000;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.2s ease-in;
}

.menu__link:nth-of-type(4n) {
  margin-right: 0;
}

.menu__link_place_header:hover {
  border-bottom: 1px solid grey;
}

.button-block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 18px;
}

.button-block_place_header {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 34px;
  border: 1px solid #f7941e;
  height: 44px;
  width: 150px;
  color: #f7941e;
  text-decoration: none;
  transition: ease-in 0.5s color;
}

.button-block_place_header:hover {
  color: rgb(228, 74, 2);
}

.main-content {
  padding: 0;
  margin: 0 0 96px 0;
  position: relative;
  height: 1280px;
  width: 1440px;
}

.cards-title {
  margin: auto;
  width: 1440px;
  height: 700px;
  background: #f1f1f2;
  padding: 0;
  margin: 0;
  display: flex;
}

.cards-title__card-title {
  width: 50%;
  padding-left: 162px;
  /*padding-top: 154px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards-title__card-title:last-child {
  padding: 0;
}

.cards-title__header {
  width: 433px;
  height: 206px;
  font-size: 56px;
  font-weight: bold;
  line-height: 69px;
  color: #000000;
  margin: 0 0 45px 0;
}

.cards-title__about {
  width: 422px;
  height: 57px;
  font-size: 20px;
  line-height: 140%;
  font-weight: normal;
  margin: 0 0 52px 0;
}

.button-block_place_cards-title {
  border: 1px solid #f7941e;
  height: 60px;
  width: 200px;
  background: #f7941e;
  color: #ffffff;
  text-decoration: none;
  opacity: 100%;
  transition: opacity 0.15s ease-in;
}

.button-block_place_cards-title:hover {
  opacity: 80%;
}

.cards-subtitle {
  position: relative;
  width: 1440px;
  height: 581px;
  background: #f1f1f2;
  display: flex;
}

.cards-subtitle__card-title {
  position: relative;
  top: -19px;
  width: 721px;
  height: 600px;
  margin-right: 110px;
}

.cards-title__card-subtitle {
  width: 433px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards-subtitle__header {
  font-weight: normal;
  font-size: 36px;
  line-height: 140%;
  color: #000;
  margin: 0;
}

.cards-subtitle__about {
  height: 168px;
  width: 440px;
  font-size: 20px;
  font-weight: normal;
  line-height: 140%;
  text-align: justify;
}

.button-block_place_cards-subtitle {
  border: 1px solid #f7941e;
  height: 60px;
  width: 200px;
  color: #f7941e;
  text-decoration: none;
  transition: ease-in 0.3s color;
}

.button-block_place_cards-subtitle:hover {
  color: #d17505;
}

.shop {
  height: 720px;
  width: 1440px;
  box-sizing: border-box;
}

.shop__title {
  margin: 0 0 23px 0;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #000000;
  font-weight: bold;
}

.shop__subtitle {
  margin: 0;
  font-size: 18px;
  line-height: 135%;
  text-align: center;
  color: #000000;
}

.shop-cards {
  max-width: 1170px;
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding-top: 64px;
}

.shop-cards__card {
  position: relative;
  height: 436px;
  width: 270px;
  align-items: center;
  padding: 294px 0 0 24px;
  margin: 0;
  background: #fafafa;
  box-shadow: none;
  transition: ease-in 0.3s box-shadow;
  box-sizing: border-box;
}

.shop-cards__card:hover {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.card__title {
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin: 0 0 74px 0;
  font-weight: normal;
}

.card__link {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
  position: relative;
  left: 0;
  transition: ease-out 0.3s left;
}

.card__link:hover {
  left: 5px;
}

.shop-cards__card_subject_birthday {
  background-image: url("../images/Rectangle.svg");
  background-repeat: no-repeat;
}

.shop-cards__card_subject_anniversary {
  background-image: url("../images/Rectangle2.svg");
  background-repeat: no-repeat;
}

.shop-cards__card_subject_valentine {
  background-image: url("../images/Rectangle3.svg");
  background-repeat: no-repeat;
}

.shop-cards__card_subject_christmas {
  background-image: url("../images/Rectangle4.svg");
  background-repeat: no-repeat;
}

.banner {
  position: relative;
  height: 240px;
  width: 1440px;
  background: #f7941e;
  display: flex;
  padding: 0 235px 0 235px;
  margin: 0;
  box-sizing: border-box;
}

.banner__titles {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner__title {
  font-size: 32px;
  font-weight: bold;
  line-height: 140%;
  color: #000000;
  margin: 0;
}

.banner__subtitle {
  line-height: 140%;
  font-size: 32px;
  color: #000000;
  margin: 0;
  font-weight: normal;
}

.banner__buttons {
  width: 50%;
  padding-left: 96px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.button-block_place_banner {
  text-transform: uppercase;
  border: 1px solid #231f20;
  border-radius: 5px;
  height: 50px;
  width: 200px;
  color: #ffffff;
  text-decoration: none;
  background-color: #231f20;
  transition: ease-in 0.3s color;
}

.button-block_place_banner:hover {
  background-color: #f7941e;
  color: #231f20;
}

.button-block_place_banner-rigth {
  text-transform: uppercase;
  border: 1px solid #231f20;
  border-radius: 5px;
  height: 50px;
  width: 200px;
  color: #231f20;
  text-decoration: none;
  background: #f7941e;
  transition: ease-in 0.2s color;
}

.button-block_place_banner-rigth:hover {
  background: #231f20;
  color: #fff;
}

.blogs {
  width: 1440px;
  height: 1000px;
  background: #fff;
  padding-top: 88px;
}

.blogs__title {
  text-align: center;
  font-size: 32px;
  line-height: 38px;
  color: #000;
  font-weight: normal;

  background-color: white;
  margin: 0 0 23px 0;
}

.blogs__subtitle {
  font-size: 18px;
  line-height: 135%;
  text-align: center;
  color: #000;
  margin: 0 0 71px 0;
}

.media {
  width: 1170px;
  height: 370px;
  background-color: #222222;
  margin: 0 auto 40px;
  display: flex;
}

.media__el-content {
  padding: 63px 0 0 78px;
}

.media__author {
  font-size: 14px;
  line-height: 140%;
  color: #ffffff;
  margin: 0 0 27px 0;
}

.media__title {
  width: 492px;
  font-size: 48px;
  line-height: 58px;
  color: #fff;
  font-weight: normal;
  margin: 0 0 60px 0;
}

.media__links {
  font-size: 18px;
  line-height: 140%;
  color: #fff;
  text-decoration: none;
}

a:hover.media__links {
  text-decoration: underline;
}
.media-cards {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto 80px;
}
.media-cards__card-blog {
  position: relative;
  height: 290px;
  width: 570px;
  margin: 0;
  padding: 48px 0 0 48px;
  box-shadow: none;
  transition: ease-in 0.3s box-shadow;
}

.media-cards__card-blog:hover {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.card-blog__title {
  width: 474px;
  height: 68px;
  font-size: 24px;
  line-height: 140%;
  color: #000;
  font-weight: bold;
  margin: 0 0 16px 0;
}

.card-blog__subtitle {
  font-size: 18px;
  line-height: 140%;
  height: 72px;
  width: 474px;
  margin: 0 0 26px 0;
}

.card-blog__link {
  font-size: 18px;
  line-height: 140%;
  color: black;
  text-decoration: none;
  position: relative;
  left: 0;
  transition: ease-out 0.3s left;
}

.card-blog__link:hover {
  left: 5px;
}

.footer {
  position: relative;
  height: 410px;
  width: 1440px;
  background: #fafafa;
  padding-top: 115px;
  box-sizing: border-box;
}

.menu_place_footer {
  display: flex;
  justify-content: space-around;
  width: 842px;
  font-size: 14px;
  font-weight: bold;
  margin: 0 auto 53px;
  padding: 0;
}

.menu__link_place_footer {
  font-size: 14px;
  height: 18px;
  color: #000;
  font-weight: normal;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.2s ease-in;
}

.menu__link_place_footer:hover {
  border-bottom: 1px solid grey;
}

.logo_place_footer {
  background-image: url(../images/logo-f.svg);
  background-repeat: no-repeat;
  width: 41px;
  height: 39px;
}

.footer__line {
  border: 1px solid #000000;
  width: 1000px;
  margin: 0 auto 55px;
}

.social-icons {
  height: 40px;
  width: 296px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 72px;
}

.social-icons__icon {
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0));
  transition: filter ease-in 0.15s;
}

.social-icons__icon:hover {
  filter: drop-shadow(3px 2px 2px rgba(0, 0, 0, 0.3));
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 35px;
  width: 220px;
}

.copyright {
  color: #000;
  font-size: 14px;
  margin: 0;
}

.footer__link {
  color: #000;
  font-size: 14px;
  text-decoration: none;
}
